 @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
    
        .navbar {
            background-color: #ffca08;
        }
        .navbar-custom a {
            color: grey;
            font-weight: 700;
        }
        a {
            text-decoration: none;
            color: #000;
        }
        .header-cont {
            font-size: .8rem;
        }
        .footer-ann {
            display: flex;
            background-color: #000;
            color: rgb(130, 118, 118);
            width: 100%;
        }
        .footer-ann h2 {
            font-size: 1rem;
        }
        .footer-form {
            background: antiquewhite;
            padding: 10px;
        }
        .ban {
            background-color: grey;
            color: #fff;
            font-size: 4rem;
            letter-spacing: 5px;
        }
        .my-1{
            font-weight: bolder;
        }
        swiper-container {
            width: auto;
            height:auto;
            display: flex;
        }
        swiper-slide {
            display: flex;
            font-size: 16px;
            justify-content: center;
            align-items: center;
        }
        swiper-slide img {
            display: block;
            width: auto;
            height: auto;
            object-fit: cover;
        }
        .underline {
            margin: auto;
            width: 40%;
            margin-bottom:2rem;
        }
        .hero {
            height: 160%;
        }
        .img-zoom {
            transition: transform .3s ease-in;
        }
        .img-zoom:hover {
            -ms-transform: scale(1.05); /* IE 9 */
            -webkit-transform: scale(1.05); /* Safari 3-8 */
            transform: scale(1.05); 
        }
        .util-btn:hover, .feat-btn:hover, .si-btn:hover  {
            background-color:#6c6e72;
            color: white;
        }
        .cat-btn {
            text-decoration: underline;
        }
        .cat-btn:hover{
            font-size: 1.125rem;
            text-decoration: none;
            color: black;
        }
        .btn{
            font-weight: bolder;
            color: #6c6e72;
        }
        .cat-zoom {
            transition: transform .3s ease-in;
        }
        .cat-zoom:hover {
            -ms-transform: scale(1.05); /* IE 9 */
            -webkit-transform: scale(1.05); /* Safari 3-8 */
            transform: scale(1.01); 
        }
        .wish-zoom {
            transition: transform .3s ease;
        }
        .wish-zoom:hover {
            -ms-transform: scale(1.05); /* IE 9 */
            -webkit-transform: scale(1.05); /* Safari 3-8 */
            transform: scale(1.05); 
        }
        .feat-font, .cat-font, .store-font, .si-font, .page-font {
            font-size: 3rem;
            font-family: 'Anton', sans-serif;
            letter-spacing: 3px;
        }
        .foot-font {
            font-family: 'Anton', sans-serif;

        }
        .modal-backdrop {
            z-index: -1;
        }
        .modal.active {
            filter: blur(8px);
            -webkit-filter: blur(8px);
        }
        .modal-co{
            color: transparent;
            text-shadow: #111 0 0 3px;
        }
        .modal-sheet .modal-dialog {
            width: 380px;
            transition: bottom .75s ease-in-out;
        }
        .modal-sheet .modal-footer {
            padding-bottom: 2rem;
        }

        .modal-alert .modal-dialog {
            width: 380px;
        }
        .breadcrumb-item + .breadcrumb-item::before {
            content: ">";
        }
        .open-button {
            opacity: 0.8;
            position: fixed;
            bottom: 18px;
            right: 18px;
          }
          /* The popup chat - hidden by default */
          .chat-popup {
            display: none;
            position: fixed;
            bottom: 0;
            right: 15px;
            border: 3px solid #f1f1f1;
            z-index: 9;
          }
          /* Add styles to the form container */
          .form-container {
            max-width: 300px;
            padding: 10px;
            background-color: white;
          }
          /* Full-width textarea */
          .form-container textarea {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            border: none;
            background: #f1f1f1;
            resize: none;
            min-height: 200px;
          }
          /* When the textarea gets focus, do something */
          .form-container textarea:focus {
            background-color: #ddd;
            outline: none;
          }
          /* Set a style for the submit/send button */
          .form-container .btn {
            background-color: #04AA6D;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            width: 100%;
            margin-bottom:10px;
            opacity: 0.8;
          }
          /* Add a red background color to the cancel button */
          .form-container .cancel {
            background-color: red;
          }
          /* Add some hover effects to buttons */
          .form-container .btn:hover, .open-button:hover {
            opacity: 1;
          }
          .accordion-button::after {
            background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
            transform: scale(.7) !important;
          }
          .accordion-button:not(.collapsed)::after {
            background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' d='M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z' clip-rule='evenodd'/%3e%3c/svg%3e");
          }
          .hr-t {
            height: 3px;
          }
          .td1>input, .td2>input {
            padding-inline: 5px;
          }
          .active {
            color: grey;
          }
          ul {
            list-style-type:none;
          }
          
        
        
          
